/* src/styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.landing-page {
  text-align: center;
}

.logo {
  width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}
